.search-bar[type="text"] {
  float: none;
  position: absolute;
  z-index: 15;
  left: 10%;
  width: 200px;
  box-sizing: ;
  border: 5px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#video {
  width: 30%;
  float: right;
  border: 1px solid black;
  height: 600px;
  padding: 0 5% 0 0;
  background: white;
  overflow-y: scroll;
}
#content {
  height: 600px;
  width: 70%;
  float: left;
  border: 1px solid red;
  padding: 0 0 0 5%;
  background: white;
  overflow-y: scroll;
}
#quesTitle {
  font-size: 24px;
}
#ansBody {
  font-size: 16px;
}
